/*
 Theme Name:   My Listing Child
 Theme URI:    http://mylisting.27collective.net/my-city/
 Description:  MyListing Child Theme
 Author:       27collective
 Author URI:   https://27collective.net/
 Template:     my-listing
 Version:      1.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         one-column, two-columns, three-columns, left-sidebar, right-sidebar, grid-layout, custom-menu, custom-logo, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
 Text Domain:  my-listing-child
*/

* {
    font-family: 'Roboto';
    
}


.block-type-terms .listing-details>ul>li, .block-type-categories .listing-details>ul>li, .single-listing .element .pf-body>.details-list li a span {
    white-space: normal;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}


/* 
 * questions listing object page
*/
.job_listing-template-default.type-voprosy-2 .profile-header {
    display: none;
    opacity: 0;
}

.job_listing-template-default.type-voprosy-2 .no-results-icon.material-icons {
    display: none;
}

.job_listing-template-default.type-voprosy-2 .listing-tab.tab-hidden {
      display: block;
      opacity: 1;
}

.job_listing-template-default.type-voprosy-2 .title-style-1.answer-title {
    padding: 20px;
    border: 1px solid #8cce29;
    border-radius: 5px;
}


/* change default elementor button bg */
.page-id-4194.elementor-kit-7 button,
.page-id-4194.elementor-kit-7 input[type="button"],
.page-id-4194.elementor-kit-7 .elementor-button {
    background-color: transparent;
}


.wp-editor-tabs button, .wp-editor-container .button, .mce-widget.mce-btn button  {
    background-color: transparent!important;
}

/*
* listing type list block 
*/
.listing-types-block {
    position: relative;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
    line-height: 1.5;
    font-size: 1.15em;
    margin-bottom: 25px;
    margin-top: -15px;
    margin-left: 5px;
    margin-right: 5px;
}

.listing-type-item, .listing-type-item-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    /*padding-top: 26%;*/
    cursor: pointer;
    height: 100%;
}

.listing-type-item span, .listing-type-item-hover span{
     font-family: "adineue pro cyr";
     font-size: 60px;
     text-align: center;
     line-height: 1;
     padding-left: 10px;
     padding-right: 10px;
     -webkit-hyphens: auto;
     -ms-hyphens: auto; 
     -moz-hyphens: auto; 
     hyphens: auto; 
}

.listing-types-block > a {
   flex-basis: 50%;  
}

.listing-types-block > a::before {
    content:'';
    float:left;
    padding-top:100%;  
}

.listing-types-block a:nth-of-type(1) .listing-type-item,
.listing-types-block a:nth-of-type(1) .listing-type-item-hover
 {
   background: #fff;
    color: #1D1D1B;
    padding-right: 30px;
}

.listing-types-block a:nth-of-type(2) .listing-type-item,
.listing-types-block a:nth-of-type(2) .listing-type-item-hover
 {
    color: #fff;
    background: #1D1D1B;
    padding-left: 53px;
}

.listing-type-item-hover { display:none; }

.listing-types-block .ampersand {
    position: absolute;
    left: 50%;
    /*top: 25%;*/
    /*transform: translateX(-38%);*/
    top: 50%;
    transform: translate(-38%, -50%);
}

.listing-types-block .ampersand img {
    height: 100px;
    width: max-content;
}


@media only screen and (max-width: 1024px) {
    .listing-type-item span, .listing-type-item-hover span {
        font-size: 42px;
    }
    
    .listing-types-block .ampersand img {
   height: 75px;
}

.listing-types-block a:nth-of-type(1) .listing-type-item,
.listing-types-block a:nth-of-type(1) .listing-type-item-hover
 {
    padding-right: 25px;
}

.listing-types-block a:nth-of-type(2) .listing-type-item,
.listing-types-block a:nth-of-type(2) .listing-type-item-hover
 {
    padding-left: 38px;
}
}
    
    @media only screen and (max-width: 768px) {
    .listing-type-item span, .listing-type-item-hover span {
        font-size: 24px;
    }
    
     .listing-types-block .ampersand img {
    height: 45px;
}

.listing-types-block a:nth-of-type(1) .listing-type-item,
.listing-types-block a:nth-of-type(1) .listing-type-item-hover
 {
    padding-right: 16px;
}

.listing-types-block a:nth-of-type(2) .listing-type-item,
.listing-types-block a:nth-of-type(2) .listing-type-item-hover
 {
    padding-left: 21px;
}
}


@media only screen and (max-width: 480px) {
    .listing-types-block {
    margin-left: 0;
    margin-right: 0;
}

    .listing-type-item span, .listing-type-item-hover span  {
        font-size: 18px;
    }
    
      .listing-types-block .ampersand img {
   height: 30px;
}

.listing-types-block a:nth-of-type(1) .listing-type-item,
.listing-types-block a:nth-of-type(1) .listing-type-item-hover
 {
    padding-right: 10px;
}

.listing-types-block a:nth-of-type(2) .listing-type-item,
.listing-types-block a:nth-of-type(2) .listing-type-item-hover
 {
    padding-left: 15px;
}


}

@media only screen and (max-width: 360px) {
.listing-type-item span, .listing-type-item-hover span {
        font-size: 14px;
    }
    
     .listing-types-block .ampersand img {
   height: 26px;
}

.listing-types-block a:nth-of-type(1) .listing-type-item,
.listing-types-block a:nth-of-type(1) .listing-type-item-hover
 {
    padding-right: 9px;
}

.listing-types-block a:nth-of-type(2) .listing-type-item,
.listing-types-block a:nth-of-type(2) .listing-type-item-hover
 {
    padding-left: 13px;
}
}
/* 
 * header
*/

.header-top.container-fluid {
    background: #1D1D1B;
}

/*.header-search>input {*/
/*    padding-left: 0px!important;*/
/*}*/

.header-search .instant-results .buttons.no-results {
    background-color: transparent;
}


body .c27-main-header:not(.header-scroll) .header-skin {
    background-color: #fff!important;
    border-color: #fff!important;
}

.elementor-4770 .elementor-element.elementor-element-5f0bda0:not(.elementor-motion-effects-element-type-background) {
    background: none;
}

.header-right .header-button a.buttons {
    background: #fff;
    color: rgb(42, 42, 42)!important;
    font-weight: 700;
}

.i-nav #menu-main-menu li.menu-item, .user-area .user-profile-name, .i-dropdown li a, .header .user-area>a {
    font-size: 13px;
}

.header.header-light-skin:not(.header-scroll) .i-nav>ul>li>a,
.header-light-skin:not(.header-scroll) .user-area .user-profile-name,
.header-light-skin:not(.header-scroll) .user-area .user-profile-name i, .header.header-scroll.header-scroll-light-skin .user-area .user-profile-name i {
    color: #fff;
}

.header .user-area > i.user-area-icon {
    font-size: 36px;
}

.instant-results .view-all-results {
    display: none!important;
}

.mobile-nav-button .header-button a {
    background: #1D1D1B!important;
    justify-content: flex-start;
    padding-left: 20px;
    color: #fff;
}

.instant-results-list.ajax-results {
    max-height: 400px;
    overflow-y: scroll;
}

.hide-until-load {
    opacity: 1!important;
}

.header.header-style-alternate {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.material-icons.menu:before, .mi.menu:before {
    content: "";
}

.mobile-menu-lines i span {
    width: 100px;
    display: block;
    position: absolute;
    top: 19px;
    height: 2px;
    margin-left: 0;
    background: #fff!important;
}

.mobile-menu-lines i span:before, .mobile-menu-lines i span:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
}

.mobile-menu-lines i span:before {
    top: -10px;
}

.mobile-menu-lines i span:after {
    bottom: -10px;
}

.mobile-menu-lines i.mi.menu {
    min-width: 100px;
    height: 40px;
    position: relative;
    float: left;
}


@media only screen and (min-width: 1201px) {

.header-dark-skin:not(.header-scroll) .header-search>i, .header-light-skin:not(.header-scroll) .header-search>i, .header.header-scroll.header-scroll-light-skin .header-search>i, .user-profile-dropdown .i-dropdown li a i {
    color: rgb(42, 42, 42);
    z-index: 999;
}

.header-dark-skin:not(.header-scroll) .header-search>i, .header-light-skin:not(.header-scroll) .header-search input, .header.header-scroll.header-scroll-light-skin .header-search input, .header-light-skin:not(.header-scroll) .is-focused input, .header-container .container-fluid .dark-forms input {
    background: #fff;
    color: rgb(42, 42, 42);
    background: #fff;
   padding-top: 12px;
   padding-bottom: 12px;
   padding-left: 15px!important;
   border-radius: 3px;
}

.header-container .container-fluid .header-search>input {
     color: rgb(42, 42, 42);
}

.header-dark-skin:not(.header-scroll) .header-search>i {
     padding-top: 0px;
   padding-bottom: 0px;
}

.header-search .instant-results:before {
    height: 0;
}

.header-search>i {
    right: 0;
    left: auto;
    top: 3px;
    font-size: 36px;
}

/* #menu-main-menu li a {
    color: #fff;
  } */

  /* 
 * header menu desktop
 */
  .mobile-menu {
    display: block;
    margin-right: 30px;
    padding-left: 5px;
  }

  .c27-main-header.header-scroll .i-nav.mobile-menu-open,
  .i-nav {
    background-color: #fff !important;
  }

  .i-nav {
    padding: 0;
    display: block;
    clear: both;
    width: 400px;
    -webkit-transform: translateX(-400px);
    transform: translateX(-400px);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-overflow-scrolling: touch;
    text-align: center;
    margin-top: -1px;
    position: fixed !important;
    overflow-y: auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    right: unset !important;
  }

  .mobile-menu-open {
    z-index: 101;
    -webkit-transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    transition: -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    transition: transform 0.3s cubic-bezier(0, 0.52, 0, 1),
      -webkit-transform 0.3s cubic-bezier(0, 0.52, 0, 1);
    right: unset !important;
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  .mobile-menu-open ~ .i-nav-overlay {
    opacity: 1;
    visibility: visible;
  }

  .i-nav-overlay {
    width: 100%;
    background: rgba(29, 29, 31, 0.5);
    position: absolute;
    visibility: hidden;
    -webkit-transition: opacity 0.25s ease-in-out;
    transition: opacity 0.25s ease-in-out;
  }

  .i-nav,
  .i-nav-overlay {
    height: 100vh;
    top: 0;
    left: 0;
  }

  .mobile-nav-head {
    display: block;
    padding: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 62px;
  }

  .mnh-close-icon {
    display: block;
    float: left;
    margin-right: 0;
    width: 40px;
    height: 40px;
    background: transparent;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 10px;
    z-index: 4;
  }

  .user-profile-dropdown {
    padding-bottom: 0 !important;
    width: 100%;
    text-align: center;
    height: 100%;
    float: none;
  }

  .user-profile-dropdown .user-profile-name {
    padding: 0 15px;
    text-align: left;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #242429 !important;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 58px;
    text-overflow: ellipsis;
    height: 100%;
    font-weight: 600;
  }

  .user-profile-dropdown .user-profile-name .avatar {
    min-width: 32px;
    margin-right: 10px;
    display: block;
  }

  .user-profile-name .submenu-toggle {
    opacity: 1;
    width: 0;
    display: inline-block;
  }

  .submenu-toggle {
    width: 17px;
    height: 20px;
    background: transparent;
    color: #fff;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    opacity: 0.3;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
  }

  .user-profile-dropdown .user-profile-name .submenu-toggle i {
    color: #000;
    display: block;
    top: 3px;
    left: 0;
  }

  .header-menu-left .i-nav > ul,
  .header-menu-right .i-nav > ul {
    display: block;
    height: auto;
  }

  .i-nav .main-nav {
    width: 100%;
    margin-bottom: 0;
  }

  .i-nav .main-nav {
    margin-top: 0 !important;
  }

  .i-nav ul li {
    display: block;
    float: none;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }

  .i-nav ul li a {
    padding: 0 20px;
    height: 50px;
    width: 100%;
    border-bottom: none;
    margin-left: 0 !important;
    color: #242429;
    opacity: 1;
    text-align: left;
    -webkit-transition: background 0.2s ease, color 0.2s ease;
    transition: background 0.2s ease, color 0.2s ease;
    font-weight: 600;
    line-height: 18px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
  }

  #menu-main-menu li a {
    padding-left: 20px;
  }
  #menu-main-menu li a:hover,
  .i-nav.mobile-menu-open li a:hover {
    color: #242429 !important;
  }

  .mobile-nav-button {
    height: 50px;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    margin-top: -1px;
    margin-bottom: 120px;
  }

  .mobile-nav-button .header-button {
    padding: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: flex !important;
    -webkit-box-align: center;
    align-items: center;
  }

  .mobile-nav-button .header-button a {
    background: #1d1d1b !important;
    justify-content: flex-start;
    padding-left: 20px;
    color: #fff;
  }

  .mobile-nav-button .header-button a {
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 14px;
    border-radius: 0;
  }

  .mnh-close-icon i,
  .mnh-close-icon i.close:focus,
  .mnh-close-icon i.close:hover {
    color: #242429;
    opacity: 1;
  }

  .mnh-close-icon i {
    font-size: 28px;
    text-align: center;
    padding-top: 6px;
    float: unset;
    font-weight: unset;
  }

  .header-right .header-button {
    display: none;
  }

  .header-right .user-profile-dropdown {
    display: none !important;
  }

}


@media only screen and (max-width: 1200px) {
    .header.header-light-skin:not(.header-scroll) .i-nav>ul>li>a {
         color: rgb(42, 42, 42);
    }
.header .header-container .header-top .logo a img, .header.header-style-alternate:not(.header-scroll) .header-container .header-top .logo a img {
    max-height: 70px;
}

.header .header-container .header-top .logo a img, .header.header-style-alternate:not(.header-scroll) .header-container .header-top .logo a img {
    max-height: 70px;
}

.header-search {
    width: 100%;
}

.header-search>i {
    left: 15px;
    top: 28px;
    width: 24px;
    font-size: 24px;
}

.header-search>input {
    padding-left: 50px!important;
}

.header-light-skin .search-trigger a i {
    color: #fff!important;
}
}

@media only screen and (max-width: 768px) {
  .header-left  .mobile-menu {
    margin-right: 25px;
}

.header-logo-text {
    font-size: 22px;
    line-height: 1.2em;
}
}

@media only screen and (max-width: 480px) {
.header-search>i {
    top: 20px;
}

.header-left  .mobile-menu {
    margin-right: 20px;
}

.header-logo-text {
    font-size: 18px;
    line-height: 1.2em;
}

.mobile-menu-lines i span {
    width: 50px;
}

.mobile-menu-lines i.mi.menu {
    min-width: 50px;
}

.header-right .mob-sign-in {
    margin-left: 0!important;
}

}

/* 
* footer
*/
.copyright a, .copyright p {
    color: #666;
}

.footer-bottom .social-nav li a i {
    color: #666;
}

/*
* main screen on home page
*/
.elementor-element.elementor-element-cc73ae3.elementor-widget.elementor-widget-heading, .elementor-element.elementor-element-b3f1925.elementor-widget.elementor-widget-heading{
font-style: normal;
font-weight: 700;
}

.elementor-element.elementor-element-cc73ae3.elementor-widget.elementor-widget-heading h2 {
    font-family: "adineue pro cyr";
    color: rgb(42, 42, 42);
    
}

.elementor-element.elementor-element-cc73ae3.elementor-widget.elementor-widget-heading h2, .elementor-element.elementor-element-b3f1925.elementor-widget.elementor-widget-heading h2 {
    margin-left: 5px;
}

@media only screen and (max-width: 360px) {
.elementor-element.elementor-element-cc73ae3.elementor-widget.elementor-widget-heading h2 {
    font-size: 32px;   
}
}

.main_screen_button_block {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.main_screen_button_block span {
    font-size: 22px;
}

.main_screen_button {
    margin-left: 20px;
}

.home .elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1160px;
}

/*
* gallery on the main page
*/

#gallery-top .wp-caption {
    max-width: 100%;
    padding: 5px 0px 10px;
}

#gallery-top img {
    max-width: 100%;
}

/*
* fonts
*/

@font-face {
font-family: "adineue pro cyr"; 
src: url("assets/fonts/adineuePRO/adineuePROCyr-BoldWeb.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

@font-face {
font-family: "Roboto Light"; 
src: url("assets/fonts/roboto-light.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
}

/* 
* single listing page 
*/
.profile-cover.profile-cover-no-img, .single-listing .details-list li i, .single-listing .details-list li i:hover {
    background: none!important;
}

.single-listing .listing-main-info h1 {
    color: #000;
    font-size: 28px;
    
}


.single-listing  .quick-listing-actions {
    margin-left: -5px;
}

.profile-name .listing-rating i {
    color: rgb(255,215,0);
}

.single-listing .profile-cover.profile-cover-no-img {
    height: 200px;
}

.single-listing  .listing-main-info {
    bottom: 0;
}

.single-listing  .listing-rating i {
    font-size: 24px;
}

.single-listing .details-list li a:hover i {
    background-color:  transparent !important;
    border-color:  transparent !important;
    color: #000!important;
}

.single-listing .quick-listing-actions>ul {
    justify-content: flex-start;
}

.single-listing .profile-header .profile-menu {
    margin-left: -50px;
}

.single-listing .profile-header .profile-menu ul:before {
    margin: 0;
}

.back-to-explore-li {
    margin-left: 15px;
}

.back-to-explore-btn {
    border-radius: 3px;
    border: 2px solid #dbdbdb;
}
.back-to-explore-btn:hover {
  border: 2px solid #c3c3c3;
  border-radius: 3px;
}

.back-to-explore-btn::after {
    display: none;
}

.back-to-explore-small {
    margin-top: 20px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

.back-to-explore-small a {
    padding: 0 30px;
    font-size: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: #242429;
    height: 60px;
    font-weight: 600;
}

#c27-explore-listings .no-results-icon {
    display: none;
}

.single-listing span.cat-icon {
    background: transparent!important;
}

.single-listing span.cat-icon i {
    background-color: transparent !important;
    border-color: transparent !important;
    color: #555558;
}

.single-listing span.cat-icon i:hover {
    color: #000!important;
}

.single-listing span.data-error {
    color: #c90f02;
    font-weight: 600;
}

@media only screen and (max-width: 1450px) {
.listing-main-info {
    padding: 15px 45px 0;
}

.single-listing .profile-header .container {
    margin-left: 0;
    padding-left: 0;
}

}

@media only screen and (max-width: 1432px) {
.single-listing .profile-header .profile-menu {
    margin-left: 0px;
}

}


@media only screen and (max-width: 1200px) {
.single-listing .profile-cover.profile-cover-no-img {
    height: 80px;
}
}


@media only screen and (min-width: 976px) and (max-width: 1199px) {
.listing-main-info {
    padding: 15px 35px 0;
}


}

@media only screen and (max-width: 600px) {
.back-to-explore-li {
    display: none;
}
}

@media only screen and (max-width: 1450px) {
.listing-main-info {
    padding: 15px 45px 0;
}
}

/* 
* explore page
*/

.select2-container--default .select2-results>.select2-results__options {
    max-height: 150px;
}

.buttons.button-2.c27-explore-search-button {
  background: #1D1D1B!important;
  font-family: "adineue pro cyr";
}

.buttons.button-2.c27-explore-search-button i {
    display: none;
}

.explore-head .explore-types>div:after {
    height: 0;
}

.explore-head .explore-types>div>a {
    padding: 0 30px;
}

.explore-head .explore-types .type-info>h4 {
    font-weight: 600;
    color: #1D1D1B;
    font-family: "adineue pro cyr";
}

.explore-head .explore-types>div.item {
    min-width: calc((100% / 3) - 20px);
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-left: -1px;
}

.explore-head .explore-types>div.item.active {
     background: #1D1D1B;
}

.explore-head .explore-types>div.item.active h4 {
    color: #fff;
}

.explore-head .explore-types>div.item:after {
    position: absolute;
    top: 25%;
    left: 0;
    content: "";
    width: 1px;
    height: 50%;
    background: #1D1D1B;
}

.explore-head .explore-types>div.item:nth-of-type(2):after {
    display: none;
}

.explore-head .explore-types>div.item a {
   min-height: 85px;
   width: 100%;
   justify-content: center;
}

.explore-head .explore-types {
    white-space: normal;
}

#search-form {
    color: #666;
}

#c27-explore-listings {
    top: 134px!important;
}

@media only screen and (max-width: 480px) {
#c27-explore-listings {
    top: 100px!important;
}
}

/*
* login form 
*/
.form-group.legacy-text, .form-group.legacy-text p {
    line-height: 1.5;
    font-size: 13px;
    color: #777;
}

.woocommerce-password-strength.bad, .woocommerce-password-strength.short {
    background: #ac2b80;
}


/* 
* add listing page
*/
.cat-card .ac-front-side .cat-icon {
    display: none;
}

 .ac-front-side .category-name {
     top: 0;
 }